@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 200 900;
  src: url('fonts/Oswald-VariableFont_wght.ttf') format('truetype')
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  font-size: 4rem;
  font-weight: 200;
  font-variation-settings: 'wght' 200;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
  letter-spacing: -5px;
  
}

input {
  border: 1px solid rgb(55 65 81);
}
input:focus, input:focus-visible {
  outline: none;
  border: 1px solid white;
}

form {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
